<!DOCTYPE html>
<html lang="<TMPL_VAR NAME=site_lang>">
  <head>
    <meta charset="utf-8"/>
    <title><TMPL_VAR NAME=gname ESCAPE=HTML>
      - <TMPL_VAR NAME=site_name ESCAPE=HTML></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"/>
    <link href="<TMPL_VAR NAME=uri_css>" rel="stylesheet"/>
  </head>
  <body>
    <div class="albumbar"><TMPL_VAR NAME=site_name ESCAPE=HTML></div>
    <hr/>

    <h1><TMPL_VAR NAME=gname ESCAPE=HTML></h1>

<TMPL_IF NAME=_archive>
    <div class="backbar">
      <a href="<TMPL_VAR NAME=uri_archive><TMPL_VAR NAME=_archive>">
        <TMPL_VAR NAME=loc_back_archive ESCAPE=HTML>
      </a>
    </div>
<TMPL_ELSE>
    <div class="backbar">
      <a href="<TMPL_VAR NAME=uri_catalog>">
        <TMPL_VAR NAME=loc_back_catalog ESCAPE=HTML>
      </a>
    </div>
</TMPL_IF>

    <div class="photos">
<TMPL_IF NAME=photos>
<TMPL_LOOP NAME=photos>
      <div class="photobox">
        <div class="photoframe">
          <a href="<TMPL_VAR NAME=path_full>">
            <img src="<TMPL_VAR NAME=path_tiny>"/>
          </a>
        </div>
        <div class="capframe">
          <TMPL_VAR NAME=_uid> - <TMPL_VAR NAME=ati_full>
        </div>
      </div>
</TMPL_LOOP>
<TMPL_ELSE>
      <TMPL_VAR NAME=loc_gallery_empty ESCAPE=HTML>
</TMPL_IF>
    </div>

  </body>
</html>
